<div class="container pt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button (click)="startConnection()" class="btn btn-success">Connect</button>
        <button (click)="stopConnection()" class="btn btn-danger">Disconnect</button>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8">
              <div class="d-flex gap-2">
                <button
                  (click)="requestTableData()"
                  [disabled]="!value"
                  class="btn btn-primary">SEND
                </button>
                <button
                  (click)="value = ''"
                  [disabled]="!value"
                  class="btn btn-primary">CLEAR
                </button>
              </div>
            </div>
            <div class="col-lg-4">
              <button
                (click)="clearQuotes()"
                class="btn btn-danger float-end">CLEAR TABLE
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <app-input>
            <mat-form-field class="w-100 h-100">
              <textarea [(ngModel)]="value" rows="20" matInput></textarea>
            </mat-form-field>
          </app-input>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <app-table></app-table>
    </div>
  </div>
</div>
