.table{
  color: #2e3233 !important;
  background-color: white  !important;
}

tr, td, th{
  color: #2e3233 !important;
}

img{
  width: 30px;
  height: 30px;
}

.position{
  display: flex;
  justify-content: center;
  align-items: center;
}
