<div class="mat-parent">
  <!-- <mat-card>
    <h1>(goal name) here we come!</h1>
    <h2>(goal description)</h2>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <br /><br /><br />
    <app-leadership-board></app-leadership-board>
  </mat-card> -->

  <mat-card>
    <mat-card-header>
      <mat-card-title>BALI</mat-card-title>
      <mat-card-subtitle>Here we come!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <app-leadership-board></app-leadership-board>
    </mat-card-content>
  </mat-card>
</div>
