/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: url("./assets/SkyWallpaper.png") repeat-x;
  animation: moveClouds 20s linear infinite;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-snack-bar-container {
  &.panel-success{
    --mdc-snackbar-container-color: green;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: white;
  }

  &.panel-error {
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: white;
  }
}

@keyframes moveClouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
